body
{
   color : black;
   background-color : gray;
}

hr{width : 80%}

table
{
   background-color : white;
}

*.red
{
   color : red;
}

*.b-yellow
{
   background-color : yellow;
}

*.b-gray
{
   background-color : gray;
}
div#content {
background-color: white;
width: 1500px;
overflow: hidden;
}

div#main {
background-color: white;
width: 500px;
float: left;
}

div#next {
color: black;
background-color: white;
width: 1000px;
float: right;
}
