# 拡張子が.exeのファイルを除外する
*.exe
# 拡張子が.outのファイルを除外する
*.out
# Bin/binディレクトリとその中身を除外する
[Bb]in/
# jpegディレクトリとその中身を除外する
jpeg/
# gifディレクトリとその中身を除外する
gif/
# 特定のディレクトリの中の特定の拡張子のファイルを除外する
out/*.log
# db_login.phpのファイルを除外する
db_login.php
